.featured-container {
  /* background-color: hsl(235, 15%, 6%); */
  margin: 0px 12.5%;
}

.featured-title {
  display: flex;
  justify-content: start;
  color: white;
  font-size: 5rem;
  margin: 100px 0px;
  /* background-color: red; */
}

.product-container {
  display: flex;
  margin: 20px;
}

.product-image {
  width: 30vh;
  height: 50vh;
}

/* .product {
  display: flex;
  flex-direction: column;
} */

.product-details {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  background-color: hsl(187, 15%, 20%);
}

img {
  min-width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

.product-title {
  font-weight: bold;
  margin: 8px 0px;
}

.product-price {
  margin: 8px 0px;
}

.product-price::before {
  content: "$";
}

.product-price::after {
  content: " CAD";
}

.product-button {
  border: none;
  outline: none;
  color: white;
  background-color: hsl(235, 15%, 6%);
  padding: 10px;
  font-size: 20px;
}

.product-button:hover {
  background-color: hsl(235, 15%, 10%);
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
